@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }
}
